version: '3.8'

services:
  blog:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: aiblog_frontend
    restart: unless-stopped
    ports:
      - "8001:80"
    networks:
      - blog_network

networks:
  blog_network:
    name: blog_network
